.loginBox {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 20px;
    padding: 10%;
    margin-top: 20%;
    background-color: white;
}

.backgroundPos {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 50%;
    min-height: 50%;
    z-index: -1;
    opacity: 0.5;
}