.bg {
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    min-width: 50%;
    min-height: 100%;
    z-index: -1;

}


.form-Box {
    border: 1px solid rgb(173, 173, 173) !important;
    border-radius: 20px !important;
    padding: 10% !important;
    margin-top: 5%!important;

    background-color: white;
}
